*{
    margin: 0px;
}
ol {

    list-style-type: none;

}
li{
    font-size: 40px;

}
header{
    background-color:lightgray;
    padding:20px;
}
a{
    color:purple;
    text-decoration:none;

}
a:hover{
    color:red;
}
